#title {
    background-color: indianred;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

#saveLoad {
    display: inline-block;
}

#optionsBox {
    display: inline-block;
    width: 30%;
}

#filtersBox {
    background-color: lightskyblue;
    width: 220px;
    height: 200px;
}

#addItemBox {
    background-color: lightgreen;
    /*width: 250px;*/
    height: 200px;
}

#fillerBox {
    height: 205px;
}

#listBox {
    background-color: lightyellow;
    left: 30%;
    width: 70%;
    height: 100%;
    display: inline-block;
}

table, th, td {
    border: 1px solid black;
    /*border-collapse: collapse;*/
    /*width: 100%;*/
}

td {
    background-color: lightblue;
}
th {
    background-color: lightseagreen;
}

.deleteButton {
    color: red;
    cursor: pointer;
}

#listDisplayTable {
    height: 100%;
    width: 100%;
}